{% extends "base.html" %}
{% block content %}

<div class="container">
  <h2>Смена пароля</h2>
  <form method="post" class="post-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.old_password.id_for_label }}">Старый пароль</label>
      <input type="password" name="{{ form.old_password.name }}" id="{{ form.old_password.id_for_label }}" class="form-control">
      {% if form.old_password.errors %}
        <div class="alert alert-danger">
          {{ form.old_password.errors }}
        </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
      <input type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" class="form-control">
      {% if form.new_password1.errors %}
        <div class="alert alert-danger">
          {{ form.new_password1.errors }}
        </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.new_password2.id_for_label }}">Повторите новый пароль</label>
      <input type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" class="form-control">
      {% if form.new_password2.errors %}
        <div class="alert alert-danger">
          {{ form.new_password2.errors }}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Сменить пароль</button>
  </form>
</div>

{% endblock %}
